<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main-page">
      <div id="sidebar">
        <a href="https://www.chess.com/" class="sidebar-item">Play</a>
        <a href="#" class="sidebar-item">Learn</a>
        <a href="#" class="sidebar-item">Latest News</a>
      </div>
      {{{body}}}
    </div>
  </body>
</html>
